@media(min-width:1400px){
    /* banner part */
    .main_top_content {
        margin: 0% 0 3px 18%;
        transform: translateY(6px);
    }
    .shape_right1 {
        right: 42%;
        top: 7%;
    }
    .shape_right2 {
        right: 21%;
        top: 12%;
    }
    .shape_right3 {
        right: 5%;
        top: 21%;
    }
    .main_top_content3 {
        right: 5%;
        bottom: 31%;
    }
    .main_top_content2 {
        margin-left: 11%;
        transform: translateY(-36px);
    }
    .shape_left1 {
        left: 15%;
        top: 23%;
    }
    .shape_left2 {
        left: 0%;
        top: 31%;
    }
    .star {
        top: 32%;
        left: 18%;
    }
    .shape_left3 {
        top: 49%;
        left: 13%;
    }
    .shape_left4 {
        bottom: 34%;
        left: 15%;
    }
    .shapes_holud {
        position: absolute;
        right: -8%;
        bottom: -3%;
    }

    /* how it */
    .how_1shape img {
        max-width: 371px;
    }
    .how_1shape {
        position: absolute;
        bottom: 68%;
        left: 9%;
        z-index: -1;
    }
    .how_long_shape {
        top: -27%;
        right: -4%;
    }
    .recive_compli {
        bottom: -25%;
        left: -3%;
    }
    .user_part {
        margin-left: 22%;
    }

    /* say part */
    .our_partright {
        margin-left: 11%;
    }
    .say_bottom {
        transform: translateX(-55px);
    }
    .say_top {
        top: 15%;
        left: 9%;
    }
    .content2 {
        top: 37%;
        left: 23%;
    }
    .content1 {

        bottom: -4%;
        left: -3%;
    }
/* campus */
.campus_left img {
    max-width: 500px;
    transform: translateX(-51px);
}
    /* feq */
    .feq_1 {
        bottom: 17%;
        left: -6%;
    }
}
@media(min-width:992px) and (max-width:1199.98px){}
@media(min-width:576px) and (max-width:767.98px){}
@media(max-width:767.98px){}
@media(max-width:575px){
/* navbar part css */
.navbar_logo img {
	max-width: 60px;
	transform: translateX(0);
}
.navbar_logo span {
	font-size: 28px;
	margin-left: -21px;
}
.navbar_ul {
	text-align: center;
	margin: 30px 0 0 0;
}
.btn_cnter{
    text-align: center!important;
    margin-top: 20px;
}
.custom_nav .navbar-brand:focus{
outline: none;
box-shadow: none;
}
}